---
title: "Projects"
layout: default
permalink: "/projects.html"
---

<div class="portfolio">
  <h1>Portfolio</h1>

  <div class="project current">
    <h2>Back in Stock</h2>
    <p>Shopify app to manage back in stock alerts. Key responsibilities include creating new features, maintaining the
      app, and helping with support. The application heavily makes use of the Shopify API and its webhooks. I closely
      work with the product team to scope the roadmap. I'm responsible for upgrading Rails version and other gems
      periodically.</p>
    <p><strong>Primary technologies used:</strong> Ruby on Rails, PostgreSQL, React, HTML, CSS, AWS</p>
  </div>

  <div class="project">
    <h2>Activate Care</h2>
    <p>Built on top of an application that helps providers manage care. Key responsibilities include tech scoping
      initiatives from product management and developing features from start to shipping. I'm also responsible for doing
      daily code reviews for my peers. A small percentage of my week also went towards working on our tech debt. I also
      contributed to a tech blog hosted by Saeloun, my parent company.</p>
    <p><strong>Primary technologies used:</strong> Ruby on Rails, PostgreSQL, React, GraphQL, Redux, Javascript, HTML,
      CSS, Heroku</p>
  </div>

  <div class="project">
    <h2>Lucidity (Webapp and iOS)</h2>
    <p>Worked as a full stack Ruby on Rails developer in the core team building a healthcare product for Locum Tenens in
      the US.</p>
    <p><strong>Primary technologies used:</strong> Ruby on Rails, iOS with Swift, Coffeescript, MySQL, HTML, CSS,
      Jenkins CI</p>
  </div>

  <div class="project">
    <h2>Manage my surgery</h2>
    <p>Worked as a full stack Ruby on Rails developer in the core team building a healthcare product to manage the
      different stages of a surgery. I contributed to the RoR based API, and React based front end. I also contributed
      to the iOS app written in Swift.</p>
    <p><strong>Primary technologies used:</strong> Ruby on Rails, iOS with Swift, MySQL, HTML, CSS</p>
  </div>

  <div class="project">
    <h2>BBarters</h2>
    <p>Developed a content sharing platform where users can earn info currencies for sharing content and use the same to
      consume other content on the platform.</p>
    <p><strong>Primary technologies used:</strong> Laravel, PHP, MySQL, Javascript, HTML, CSS</p>
  </div>
</div>